
    
    <div class="foo-nav">
        <p>Charity Info</p>
        <ul>
            <li>Venkateshwaran - 17110804 Ph: 9080340465 <i class="fa fa-facebook-official" style="font-size:24px"></i></li>
            <li>Siva venkatesh - 17110079 Ph: 8248512038</li>
            <li>Arun kumar     - 17110801 Ph: 8825475327</li>
            <li>Surendhar      - 17110085 Ph: 6380906068</li>
        </ul>
        <div class="foo-logo">
            <i class="fa fa-facebook-official" style="font-size:24px"></i>
            <i class="fa fa-instagram" style="font-size:24px"></i>
            <i class="fa fa-youtube" style="font-size:24px"></i>
            <i class="fa fa-gmail" style="font-size:24px"></i>
            <div class="copy">@ Final year Project</div>
            
        </div>
        <div class="logo">
            <i class="fa fa-facebook-official" style="font-size:24px"></i>
            <i class="fa fa-instagram" style="font-size:24px"></i>
            <i class="fa fa-youtube" style="font-size:24px"></i>
            <i class="fa fa-gmail" style="font-size:24px"></i>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>