<%- include("./partials/header") %>
<div class="container">
  <div class="header">
      <ul class="inline-block">
          Online Charity
          <li class="inline-block">Home</li>
          <li class="inline-block">Services</li>
          <li class="inline-block">Gallery</li>
          <li class="inline-block">Donate Now</li>
          
      </ul>
      <div class="underline"></div>
  </div>
</div>
<div class="container">
  <form action="/donation" method="POST">
    <label for="name">Name</label>
    <input type="text" name="Name"><br>
    <label for="phone">Phone</label>
    <input type="tel" name="Phone" id="Phone"><br>
    <label for="name">CITY</label>
    <input type="text" name="City"><br>
    <button type="submit">donate</button>
</form>
</div>
<%- include("./partials/footer") %>